<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.n1vnhil.xhsauth.domain.mapper.RolePermissionDOMapper">

    <resultMap id="BaseResultMap" type="org.n1vnhil.xhsauth.domain.dataobject.RolePermissionDO">
        <!-- 假设 RolePermissionDO 类中有对应的 getter 和 setter 方法 -->
        <id column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="permission_id" property="permissionId" jdbcType="BIGINT"/>
    </resultMap>

    <select id="selectByRoleIds" resultMap="BaseResultMap">
        select role_id, permission_id
        from t_role_permission_rel
        where role_id in
        <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
            #{roleId}
        </foreach>
    </select>
</mapper>