<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.n1vnhil.xhs.note.biz.domain.mapper.NoteCollectionDOMapper">
    <insert id="insertOrUpdate" parameterType="org.n1vnhil.xhs.note.biz.domain.dataobject.NoteCollectionDO">
        insert into t_note_collection (user_id, note_id, create_time, status)
        VALUES (#{userId}, #{noteId}, #{createTime}, #{status})
        on duplicate key update create_time=#{createTime}, status=#{status}
    </insert>
    <update id="update2UncollectByUserIdAndNoteId" parameterType="org.n1vnhil.xhs.note.biz.domain.dataobject.NoteCollectionDO">
        update t_note_collection set status=#{status}, create_time=#{createTime}
        where user_id=#{userId} and note_id=#{noteId} and status=1
    </update>
    <select id="selectCountByNoteIdAndUserId" resultType="java.lang.Integer" parameterType="map">
        select count(1) from t_note_collection where note_id=#{noteId} and user_id=#{userId} and status=1 limit 1
    </select>
    <select id="selectByUserId" resultType="org.n1vnhil.xhs.note.biz.domain.dataobject.NoteCollectionDO">
        select note_id from t_note_collection where user_id=#{userId} and status=1
    </select>
    <select id="selectCollectedByUserIdAndLimit" resultType="org.n1vnhil.xhs.note.biz.domain.dataobject.NoteCollectionDO">
        select note_id, create_time from t_note_collection
        where user_id=#{userId} and status=1 order by create_time desc limit #{limit}
    </select>
</mapper>